/* CSS BY KAITLYN MURRAY */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS REST */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    /* --- Colors --- */
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink: #D9526F;
    --dark-gray: #1E1E1E; 
    --white: #ffffff; 

    /* --- Fonts --- */
    --h-fonts: "Kavoon", serif;
    --b-fonts: "Inter", sans-serif;
}

/* GLOBAL STYLES (mobile first/small) */
/* --- Overall Style --- */
body{
    width: 450px;
    max-width: 450px;
    background-color: var(--lavender);
    margin: 0 auto;
    font-family: var(--b-fonts);
    color: var(--dark-gray);
}

h1, h2{
    font-family: var(--h-fonts);
    color: var(--white)
}

h1{
    font-size: 3em;
    padding: 1.5rem 0 0.5rem;
}

h2{
    font-size: 2em;
    padding-bottom: 0.5rem;
}

h3{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
}

h4{
    font-size: 1.15em;
    font-weight: bold;
    color: var(--purple);
    margin: 0.5rem 0;
}

p{
    font-size: 1rem;
}

header, main, footer{
    background-color: var(--purple);
}

main > section:nth-child(even) {
    background-color: var(--pink);
}

main > section{
    padding: 1rem;
}

/* --- Header --- */
header{
    text-align: center;
}

header p{
    font-style: italic;
    color: var(--white);
    padding-bottom: 2.5rem;
}

nav{
    background-color: var(--yellow);
    padding-bottom: 15px;
}

nav h2{
    font-size: 1.5em;
    font-family: var(--b-fonts);
    color: var(--dark-gray);
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0 0.5rem;
}

nav li{
    background-color: var(--white);
    padding: 1rem;
    margin: 0 25px 10px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
}

/* --- Main: Services --- */
div{
    background-color: var(--white);
    padding: 1.5rem;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
}

img{
    padding: 0.5rem 0;
}

div p{
    line-height: 1.5;
}

/* --- Main: Choose Us --- */
main ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 0.5rem;
}

main li{
    text-align: center;
    font-size: 1.2em;
    padding: 2.5rem 0;
    color: var(--dark-gray);
    font-weight: bold;
    border-radius: 1rem;
}

main li:nth-child(1){
    background-color: var(--teal);
}

main li:nth-child(2){
    background-color: var(--lavender);
}

main li:nth-child(3){
    background-color: var(--yellow);
}

main li:nth-child(4){
    background-color: var(--white);
}

/* --- Main: Pricing --- */

/* --- Main: Scheduling --- */

/* --- Footer --- */
